// theme
$white: #fff;
$black: #000;

$boxShadowParam: 0 5px 30px #00000033;
$fontColor: $black;
$fontColorSub: #545454;
$mainColor: #b22029; // coleman red!!
$mainColorLight: #c4323c;
$mainColorThin: #ffe8e8;

// font
@font-face {
  font-family: bootstrap-icons;
  src: url(../fonts/bootstrap-icons.woff2);
}

// reset
body {
  max-width: 100%;
  background-color: #fdfdfd;
  color: $fontColor;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
